{
    "recommendations": [
        "tamasfe.even-better-toml",
        "charliermarsh.ruff",
        "editorconfig.editorconfig",
        "ms-python.mypy-type-checker",
        "ms-python.vscode-pylance",
        "ms-python.python",
        "dongido.sync-env",
        "redhat.vscode-yaml",

        {% if "django" in libs_used %}
        // For Django Projects
        "monosans.djlint",
        "batisteo.vscode-django",
        {% endif %}


        {% if "django" in libs_used or "jinja" in libs_used %}
        // For Django/Jinja templating
        "samuelcolvin.jinjahtml",
        {% endif %}
    ]
}
